BooomGame/Library
BooomGame/Temp
BooomGame/.vs
BooomGame/UserSettings
BooomGame/obj
BooomGame/Logs
BooomGame/obj
BooomGame/Logs
BooomGame/.idea
BooomGame/obj
BooomGame/Logs
BooomGame/obj
BooomGame/.idea
BooomGame/Logs
BooomGame/Logs
BooomGame/UserSettings
BooomGame/Logs
BooomGame/obj
BooomGame/Assets/GPT AI Integration/OpenAi/Runtime/Config/DefaultAuthArgsV1.asset
BooomGame/UserSettings
BooomGame/obj
BooomGame/.vs
BooomGame/.idea
BooomGame/Assembly-CSharp.csproj
BooomGame/BooomGame.sln
BooomGame/Assembly-CSharp-firstpass.csproj
BooomGame/openai.api.unity.csproj
BooomGame/openai.api.unity.editor.csproj
